# Port untuk server Node/Express
PORT=3000

# Konfigurasi Database: set ke 'mysql' untuk database online Clever Cloud
# Biarkan kosong atau set ke 'sqlite' untuk menggunakan SQLite lokal
DB_TYPE=mysql

# Kredensial Database Standar
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=minisoccer

# Kredensial khusus Clever Cloud MySQL Addon
# Jika variabel ini terisi, sistem akan otomatis menggunakannya saat DB_TYPE=mysql
MYSQL_ADDON_HOST=b9mhilztpg2rseqiivva-mysql.services.clever-cloud.com
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_USER=umyi6keekuzdhadw
MYSQL_ADDON_PASSWORD=IBw2k38ntT9kTOXrqxdQ
MYSQL_ADDON_DB=b9mhilztpg2rseqiivva
